<div class="container">
  <div class="row">
      <% @videos.each do |video| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= image_tag(video.categories.first.image.url) %>
            <div class="caption">
              <h3><%= link_to video.title.truncate(70), video %></h3>
                <p><%= video.description.truncate(100) %></p>
            </div>
        </div>  
      </div>
      <% end %>
    </div>
  </div>