<%= render 'layouts/header' %>


<div class="row">
    <div class="col-md-12 buttonspace">
      <% if user_signed_in? %> <%= link_to "Add a New Screencast", new_video_path, class: "btn btn-success"%><br>
    <% end %></div>

<%= render 'videos' %>

<div class="input-group input-append dropdown combobox" data-initialize="combobox" id="myCombobox">
  <input type="text" class="form-control">
  <div class="input-group-btn">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
    <ul class="dropdown-menu dropdown-menu-right">
      <li data-value="1"><a href="#">One</a></li>
      ...
    </ul>
  </div>
</div>


<p>hi folks, this is typing animation using CSS</p>
<p>created with ♥ by 
  <a href="https://twitter.com/@samarkandiy" title="Azik Samarkandiy">@samarkandiy</a> 
:)<span>|</span></p> 