<div class="row">
    <div class="col-md-12 buttonspace">
      <% if user_signed_in? %> <%= link_to "Add a New Screencast", new_video_path, class: "btn btn-success"%><br>
    <% end %></div>

<%= render 'videos' %>
