
@import "bootstrap-sprockets";
@import "bootstrap";

body {
    margin-left: 40px;
    margin-right: 40px;
}

.col-md-3:nth-child(4n+1) {
    clear: left;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  /*height: auto;*/
  margin-bottom: 12px;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.buttonspace {
  margin-bottom: 20px;
}